name: Daily Green Commit

on:
  schedule:
    - cron: "0 3 * * *"   # Har kuni UTC 03:00
  workflow_dispatch:

permissions:
  contents: write

jobs:
  commit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set git identity
        run: |
          git config user.name "Javohirbek070"
          git config user.email "javohirbek537@gmail.com"

      - name: Make commit
        run: |
          echo "update $(date)" >> log.txt
          git add log.txt
          git commit -m "daily update"
          git push
